div
 table.table.table-striped.table-bordered.table-hover
  thead
   tr
    th User Name
    th Friend Name
    th Friend Picture
   tbody
    each friend, i in friends
     tr(class=(i % 2 == 0) ? 'odd' : 'even')
      td= friend.userName
      td= friend.name
      td
       img(src=friend.picture)
