!!! 5
html.no-js(lang='')
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title TellUsWho2
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  link(rel='apple-touch-icon', href='apple-touch-icon.png')
  link(rel='stylesheet', href='/css/normalize.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/grayscale.css')
  link(rel='stylesheet', href='/css/main.css')
  link(href='/font-awesome-4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  
  script(src='/js/vendor/modernizr-2.8.3.min.js')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
   block content
